<!-- HTML para mobile -->
<div class="mobile" *ngIf="isMobile">
  <div class="container">
    <div id="carouselExampleIndicators" class="carousel slide w-100" data-bs-ride="carousel">

      <div class="carousel-inner" role="listbox">
        <div class="carousel-item" *ngFor="let machine of machines; let i = index" [class.active]="i == 0">
          <div class="d-flex justify-content-center">
            <div class="card custom-card-bg">
              <img class="card-img-top"
              [src]="machine.type === 'Lavadora' ? '../../../assets/images/maquinaLavar.svg' : '../../../assets/images/maquinaLavaSeca.svg'"
              alt="Imagem da máquina">              <div class="card-body">
                <h5 class="card-title">{{machine.name | uppercase}}</h5>
                <p class="card-text"
                  [class.free-machine]="!machine.is_in_use"
                  [class.in-use-machine]="machine.is_in_use">
                  <ng-container *ngIf="machine.is_in_use; else notInUse">
                    Em uso - {{machine.apt_in_use}}
                  </ng-container>
                  <ng-template #notInUse>
                    Livre
                  </ng-template>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </a>
      <ol class="carousel-indicators">
        <li *ngFor="let machine of machines; let i = index" data-bs-target="#carouselExampleIndicators" [attr.data-bs-slide-to]="i" [class.active]="i == 0"></li>
      </ol>
    </div>
  </div>
</div>



<!-- HTML para desktop -->
<div class="desktop" *ngIf="!isMobile">
  <div class="container">
    <div class="card-container" *ngFor="let machine of machines">
      <img class="card-img-top"
           [src]="machine.type === 'Lavadora' ? '../../../assets/images/maquinaLavar.svg' : '../../../assets/images/maquinaLavaSeca.svg'"
           alt="Imagem da máquina">
      <div class="card-body">
        <h5 class="card-title">{{machine.name | uppercase}}</h5>
        <p class="card-text"
           [class.free-machine]="!machine.is_in_use"
           [class.in-use-machine]="machine.is_in_use">
          <ng-container *ngIf="machine.is_in_use; else notInUse">
            Em uso - {{machine.apt_in_use}}
          </ng-container>
          <ng-template #notInUse>
            Livre
          </ng-template>
        </p>
      </div>
    </div>
  </div>
</div>


