.container {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
 
  .card-container{
    margin-left: 25px;
    background: #F6F6F6;
    border-radius: 15px;
    width: 25vh;
    height: 20vh;
    border-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
  }

  
  .card-img-top {
    margin-top: 15%;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: auto;
    display: block;
  }
  
  .card-body {
    text-align: center;
    padding: 0;
    margin-top: 5px;
  }
  
  /* Estilos para máquinas livres */
  .free-machine {
    color: #0E7F3B;
    font-weight: bold;
  }
  
  /* Estilos para máquinas em uso */
  .in-use-machine {
    color: #E81515;
    font-weight: bold;
    /* Outros estilos personalizados para máquinas em uso */
  }
  
  /* Estilos específicos para mobile */

  .carousel-control-prev-icon {
    background-image: none !important;
    color: #0E7F3B !important; /* Altere a cor desejada */
  }
  
  .carousel-control-next-icon {
    background-image: none !important;
    color: #0E7F3B !important; /* Altere a cor desejada */
  }
  
  .carousel-control-prev-icon::before {
    content: "‹"; /* Altere para o ícone desejado */
    font-size: 4em;
  }
  
  .carousel-control-next-icon::before {
    content: "›"; /* Altere para o ícone desejado */
    font-size: 4em;
  }
  .custom-card-bg {
    background-color: #F6F6F6; /* Substitua pela cor desejada */
    width: 100%;
    border-style: none;
    border-radius: 15px;
  }
  .carousel-indicators li {
    background-color: #C5C5C5; /* altere para a cor desejada */
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin: 1px 3px;
  }

  .carousel-indicators .active {
    background-color: #0E7F3B; /* altere para a cor desejada para o item ativo */
  }
  .carousel-indicators {
    bottom:-20px;
  }
  .carousel-inner {
    margin-bottom:50px;
 }