  <!-- buildings-control.component.html -->
  <div class="containerAdmin" [formGroup]="myGroup"> <!-- Add the formGroup directive -->
    <div class="row pt-3 col-md-12">
      <div class="col-md-4 mb-2">
        <select id="building_id" name="building_id" class="form-control selectMesAno" formControlName="building_id" required (change)="onBuildingSelect($event)" >
          <option value="" disabled selected>Selecione o prédio</option>
          <option *ngFor="let building of buildings" [value]="building.id">{{ building.name }}</option>
        </select>
      </div>
      <div class="col-md-2 mb-2">
        <select id="month_id" name="month_id" class="form-control selectMesAno" required (change)="onMonthSelect($event)">
          <option value="" disabled selected>Mês</option>
          <option *ngFor="let month of months; let i = index" [value]="month.id"
                [selected]="month.id === selectedMonth"> {{ month.name }}</option>
        </select>
      </div>
      <div class="col-md-2 mb-2">
        <select id="year_id" name="year_id" class="form-control selectMesAno" required (change)="onYearSelect($event)" >
          <option value="" disabled selected>Ano</option>
          <option *ngFor="let year of years; let i = index"  [value]="year"  [selected]="year === selectedYear" >{{ year }}</option>
        </select>
      </div>
    </div>


      <div class="col-md-12" >
        <div class="col button-container" >
          <!-- Adicionamos a classe "button-row" para alinhar os botões à esquerda -->
          <div class="button-row mb-3" *ngFor="let machine of machines">
            <!-- Repita esta estrutura para cada botão que deseja exibir -->
              <div class="larger-button" [ngClass]="{'card-body': machine.isConnected, 'card-body-off': !machine.isConnected}">
                <div class="button-content" >
                  <img *ngIf= "machine.isConnected" src="../../../assets/images/maquinaLavar.svg" class="button-icon" />
                  <img *ngIf= "!machine.isConnected" src="../../../assets/images/maquinaLavarDesconectada.svg" class="button-icon" />
                  <!-- Primeira imagem, mostrada quando trocarImagem for verdadeiro -->
                  <span class="button-text mb-2 mt-2">{{ machine.name }}</span>
                  <div class="row">
                    <div class="col-md-12 mb-2" >
                      <p class="card-text" [class.free-machine]="!machine.is_in_use" [class.in-use-machine]="machine.is_in_use">
                        <ng-container *ngIf="machine.is_in_use; else notInUse">
                          {{ machine.apt_in_use }}
                        </ng-container>
                        <ng-template #notInUse>
                          Livre
                        </ng-template>
                      </p>
                    </div>
                    <div class="col-md-12 mb-2">
                      <button class="btn buttonActionLigar" [ngClass]="{'buttonActionLigar': !machine.is_in_use, 'buttonActionDesligar': machine.is_in_use}" (click)="mudarEstadoMaquina(machine)">
                        {{ machine.is_in_use ? "Desligar" : "Ligar" }}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>

    <div class="col-md-12 ">
      <div class="row">
        <div class="col-md-6 mb-3 hide-big-screen">
          <div class="row resumoGastosMobile">
            <div class="col-6 mb-3">
              <h5>Resumo Mensal</h5>
            </div>
            <div class="col-6 mb-3">
              <div class="mesAnoSelecionadoMobile">
                <p>{{ getMonthName(selectedMonth) }}-{{selectedYear}}</p>
              </div>
            </div>
            <div class="col-12 mb-3">
              <div class="row">
                <div class="col-6">
                  <p class="bullet-pointMobile gray-text">Condomínio:</p>
                  <p class="valueBulletMobile green-text"><strong>R${{valorTotal | number:'.2-2'}}</strong></p>
                </div>
                <div class="col-6">
                  <p class="bullet-pointMobile gray-text">FRST:</p>
                  <p class="valueBulletMobile green-text"><strong>R${{valorTotal*0.18 | number:'.2-2'}}</strong></p>
                </div>
              </div>
            </div>
            <div class="col-12 mb-3">
              <button class="download-buttonMobile" (click)="downloadTableData()">
                <i class="fas fa-download"></i> Download
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="table-wrapper">
            <table class="table narrow-table">
              <thead>
                <tr>
                  <th scope="col">Apartamento</th>
                  <th scope="col"  class="hidden-small-screen">Máquina</th>
                  <th scope="col"  class="hidden-small-screen">Início</th>
                  <th scope="col" class="hidden-small-screen" >Término</th>
                  <th scope="col">Data</th>
                  <th scope="col">Valor</th>
                  <th scope="col">Action</th>
                  
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let history of formattedUsageHistory; let i = index" [ngClass]="{'table-light': i % 2 === 0, 'table-light-gray': i % 2 !== 0}">
                  <td> {{history.userName}}</td>
                  <td  class="hidden-small-screen"> {{history.machineName}}</td>
                  <td  class="hidden-small-screen"> {{ history.start_time }}</td>
                  <td  class="hidden-small-screen"> {{ history.end_time }}</td>
                  <td> {{ history.date }}</td>
                  <td> {{history.total_cost}}</td>
                  <button class="btn btn-danger delete-button btn-sm" (click)="deleteUsageHistory(history.id)">
                    <i class="fas fa-trash"></i>
                  </button>
              </tr>
              </tbody>
            </table>
          </div>
        </div>      
        

        <div class="col-md-6 hidden-small-screen ">
          <div class="row resumoGastos">
            <div class="col-6"> <!-- Título à esquerda -->
              <h1>Resumo Mensal</h1>
            </div>
            <div class="col-3"> <!-- Escrita com borda à direita -->
              <div class="mesAnoSelecionado">
                <p>{{ getMonthName(selectedMonth) }}-{{selectedYear}}</p>
              </div>
            </div>
            <div class="col-6"> <!-- Ajustado para ocupar toda a largura -->
              <div class="row">
                <div class="col-12">
                  <span class="bullet-point"><span class="gray-text">Condomínio:</span></span>
                </div>
                <div class="col-12">
                  <span class="valueBullet green-text"><strong>R$ {{valorTotal | number:'.2-2'}}</strong></span>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <span class="bullet-point"><span class="gray-text">FRST:</span></span>
                </div>
                <div class="col-12">
                  <span class="valueBullet green-text"><strong>R$ {{valorTotal*0.18 | number:'.2-2'}}</strong></span>
                </div>
              </div>
            </div>
            <div class="col-6">
              <button class="download-button" (click)="downloadTableData()">
                <i class="fas fa-download"></i> Download
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    
