.sidebar {
  width: 250px; /* Defina a largura desejada para a barra lateral */
  position: fixed; /* Fixa a barra lateral no lugar */
  height: 100%; /* Define a altura para 100% para ocupar toda a altura da tela */
  overflow-y: auto; /* Adiciona rolagem se o conteúdo exceder a altura */
}

.nav-item {
  margin-bottom: 10px; /* Adiciona um espaçamento na parte inferior para separar os itens do menu */
  width: 150px;
  border-radius: 10px;
  cursor: pointer;
}

.nav-link {
  transition: background-color 0.3s ease; /* Adiciona transição para suavizar a mudança de cor */
}

.nav-link:hover {
  background: #EBEBEB;
  border-radius: 10px;
}