.main-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.app-nav-bar {
    z-index: 1000;
}

.content-wrapper {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    overflow: auto;
}


.sidebar {
    width: 200px;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
}

.app-content {
    margin-left: 50px;
    overflow: hidden;
    flex-grow: 1;
    width: calc(100% - 250px);
    background-color: white;
    border-radius: 20px;
}


/* Regra de mídia para telas de 600px ou menos */
@media (max-width: 600px) {
    .main-layout {
        overflow: hidden;
    }

    .main-layout.row {
        flex-direction: column;
    }

    .app-content {
        overflow: auto;
        margin-left: 20px;
    }

    .rectangle {
        flex-direction: column;
    }

    /* Adicione esta regra para esconder a barra lateral em telas menores que 600px */
    .sidebar {
        display: none;
    }
}


